@import '@comfyorg/design-system/css/style.css';

.litegraph.litecontextmenu,
.litegraph.litesearchbox {
  background-color: #2e2e2e;
  color: #aaa;
}

.litegraph.litesearchbox input,
.litegraph.litesearchbox select,
.litegraph.litecontextmenu input {
  background-color: #000;
  color: #fff;
}

.litegraph.lite-search-item {
  background-color: rgb(0 0 0 / 50%);
  color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  /* List transition animations */
  .list-scale-move,
  .list-scale-enter-active,
  .list-scale-leave-active {
    transition:
      opacity 150ms ease,
      transform 150ms ease;
  }

  .list-scale-enter-from,
  .list-scale-leave-to {
    opacity: 0;
    transform: scale(70%);
  }

  .list-scale-leave-active {
    position: absolute;
    width: 100%;
  }
}
